Redirect /lib/bus1 https://github.com/bus1/bus1
Redirect /lib/cabuild https://github.com/bus1/cabuild
Redirect /lib/dbus-broker https://github.com/bus1/dbus-broker
Redirect /lib/meson-cargo https://github.com/bus1/meson-cargo
Redirect /lib/plumbing https://github.com/bus1/plumbing
Redirect / https://github.com/bus1/
